language: ruby
cache: bundler

rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - ruby-head
  - jruby
  - jruby-head

jdk:
  - openjdk7
  - openjdk8

matrix:
  exclude:
    - rvm: 2.2.7
      jdk: openjdk8
    - rvm: 2.3.4
      jdk: openjdk8
    - rvm: 2.4.1
      jdk: openjdk8
    - rvm: ruby-head
      jdk: openjdk8
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true

branches:
  only:
    - master
    - next

env:
  - ON_TRAVIS_CI=yes

before_install: gem install bundler -v ">= 1.15"
install: bundle install --jobs=15
script: bundle exec rake acceptance

sudo: false
